.look-old {
  float: right;
}
.approve-title {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
.approve-page {
  width: 700px;
  margin: 0 auto;
}
.approve-btn {
  float: right;
  margin-left: 5px;
}
.approve-form-box .ant-col-sm-14{
  width: 100%;
  text-align: right;
}