.core-layout__viewport {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 220px;
  padding-right: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
  height: 100%;
}
body {
  overflow: hidden;
}
.content-wrapper {
  height: 100%;
}
