.control-box {
  display: flex;
  margin: 20px 0;
  .create-btn {
    float: right;
  }
}
.disabled-row,
.disabled-row:hover {
  color: #ededed;
  .red-tip {
    color: #ededed;
  }
}
.completed-pay {
  color: #ccc;
}
.red-tip {
  display: inline-block;
  color: red;
  font-size: 12px;
  transform: scale(0.8);
  transform-origin: left;
}
.download-box {
  float: right;
}
.ml5 {
  margin-left: 5px;
}
.async-hotel {
  .ant-confirm-content {
    max-height: 200px;
    overflow-y: auto;
  }
}
.ant-calendar-picker {
  margin-right: 10px;
}
.add-btn-box {
  flex: 1;
}
