.control-box {
  margin: 20px 0;
  .create-btn {
    float: right;
  }
}
.disabled-row, .disabled-row:hover {
  color: #ededed;
}
.completed-pay {
  color: #ccc;
}
.red-tip {
  color: red;
  font-size: 12px;
  transform: scale(0.8);
}
