// .my-header {
//   background: #48576a;
//   color: #fff;
//   border-right: 1px solid #48576a;
// }
// .ant-menu-horizontal > .ant-menu-item-active,
// .ant-menu-horizontal > .ant-menu-item-open,
// .ant-menu-horizontal > .ant-menu-item-selected,
// .ant-menu-horizontal > .ant-menu-item:hover,
// .ant-menu-horizontal > .ant-menu-submenu-active,
// .ant-menu-horizontal > .ant-menu-submenu-open,
// .ant-menu-horizontal > .ant-menu-submenu-selected,
// .ant-menu-horizontal > .ant-menu-submenu:hover {
//   border-bottom: 3px solid #7fc4f5 !important;
//   color: #7fc4f5 !important;
// }
// .ant-menu-item-active,
// .ant-menu-item:hover,
// .ant-menu-submenu-active,
// .ant-menu-submenu-title:hover,
// .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
//   color: #7fc4f5 !important;
// }
.user-box {
  height: 80px;
  text-align: center;
  line-height: 80px;
}
.user-logo {
  font-size: 16px;
  margin-right: 5px;
}
.header-name {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
.aside-hs {
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #404040;
}
