.login-form {
  width: 25%;
  margin: 0 auto;
  .login-form-button {
    width: 100%;
  }
}
.login-title {
  text-align: center;
}
.login-page {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}